*{
    padding: 0%;
    margin: 0%;
      font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: url(./accest/image/bacl.jpeg);
    }
.hero{
    
    /* width: 10px; */
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    



}
img{
    height: 400px;
    width: 300px;
    box-shadow: 5px 5px 5px rgb(131, 118, 118);
    border-radius: 20px;
}
.main-con{

position: absolute;
display: flex;
flex-direction: column;
align-items: center;
/* top: 200px; */



    


}
input{
    height: 20px;
    width: 170px;
    text-align: center;
}
hr{
    width: 200px;
    /* color: black; */
    /* height: px; */
    /* background-color: black; */
}
a{
    text-decoration: none;
    color: black;
    /* border: 1px solid; */
    padding: 10px;
    border-radius: 20px;
    background-color: darkslategray;
    color: aliceblue;
    width: 60px;
    text-align: center;
}
a:hover{
    background-color: bisque;
    color: antiquewhite;
    color: black;
    
}